<%- include('./includes/head.ejs') %>
<body>
    <main class="main-body" style="text-align:center; font-size: x-large;">
        <h1>Dashboard</h1>
        <h1>Hello <%= userName%></h1>
        <a href="/logout">Logout</a>
    </main>
</body>
</html>