<%- include('./includes/head.ejs') %>
<body>
    <main class="main-body" style="text-align:center; font-size: x-large;">
        <h1>User Authentication</h1>
        <a href="/login">Login</a>
    </main>
</body>
</html>